<% layout("/layouts/boilerplate") %>

<div class="container mt-4">
    <div class="card col mb-4 show">
        <img src="<%= book.image %>" class="card-img-top" alt="book-image" style="height: 20rem; width: 40rem; ">
        <div class="card-body">
            <h3 class="card-title mb-3 "><%= book.title %></h3>
            <p class="card-text"><%= book.description %></p>
            <p class="card-text"><b>Author:</b> <%= book.author %></p>
            <p class="card-text"><b>Price:</b> <%= book.price != null 
                ? book.price.toLocaleString("en-IN") 
                : "Price not available" %></p>
        </div>
        
        <div class="card-footer ">
<form action="/booklistings/<%= book._id %>/edit">
    <button class="btn btn-success mt-3 mb-3 edit"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
</form>

<form action="/booklistings/<%= book._id %>?_method=DELETE" method="post">
    <button class="btn btn-danger mt-3 mb-3 delete"><i class="fa-solid fa-trash"></i> Delete</button>
</form>

<!-- Buy Button -->

<% if(currentUser!=null && currentUser.username != book.owner.username) { %>

    <form action="/booklistings/<%= book.owner._id %>/<%= currentUser._id %>/<%= book._id %>/buy" method="post">
        <button class="btn btn-warning mt-3 mb-3 delete"><i class="fa-solid fa-cart-shopping"></i></i>Buy</button>
    </form>
<% } %>
        </div>
    </div>
    <hr>

        <div class="row">
        <div class="col-8 offset-2">
            <h4>Leave a Review</h4>

            <form action="/booklistings/<%= book._id %>/reviews" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input
                        type="range"
                        id="rating"
                        name="review[rating]"
                        min="1"
                        max="5"
                        class="form-range"
                        required>
                </div>

                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea
                        name="review[comment]"
                        id="comment"
                        class="form-control"
                        rows="4"
                        required></textarea>
                    <div class="invalid-feedback">
                        Please provide a comment.
                    </div>
                </div>

                <button class="btn btn-outline-dark">Submit</button>
                
            </form>
            <br>
        </div>
<hr>
<% if(book.reviews.length!==0) {%>
        <div class="col-8 offset-2">
            <h4>Reviews</h4>
            <% for(let review of book.reviews) { %>
            <div class="card mb-3">
                <div class="d-flex align-items-center gap-2 px-3 pt-3">
                    <span class="fw-semibold text-dark name">Author: <%= review.author ? review.author.username : "Anonymous" %></span>
                </div>
                <div class="card-body"><p class="card-text rating"><b>Rating:</b>
                    <% for(let i=0;i<review.rating;i++){%>
                        <i class="fa-solid fa-star"></i>
                        <% }%>
                        </p>
                    <p class="card-text"><b>Comment:</b> <%= review.comment %></p>
                </div>
                <form action="/booklistings/<%= book._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                    <button class="btn btn-outline-dark revdel">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
        <% } else { %> <div class="col-8 offset-2 mb-4"><h4 class="text-center">No Reviews Available</h4></div> <% } %>

        
    </div>
</div>
